<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- loader applicationContext.xml -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
  		/WEB-INF/config/applicationContext.xml
  	</param-value>
	</context-param>

	<servlet>
		<servlet-name>register</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/config/register-servlet.xml</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>register</servlet-name>
		<url-pattern>*.html</url-pattern>

	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>register</servlet-name>
		<url-pattern>*.json</url-pattern>

	</servlet-mapping>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

<!-- 初始化 Freemarker 内部模板访问路径 -->
	<filter>
		<filter-name>FreemarkerInitPath</filter-name>
		<filter-class>com.sys.filter.FreemarkerInitPath</filter-class>
	</filter>


	<error-page>
		<error-code>404</error-code>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/sysError.jsp</location>
	</error-page>
</web-app>
